body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6bb51b;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #bc1616;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

.todo-input {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(10, 1, 1);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}
button:hover{
    background-color: blue;
}

button:hover:enabled {
    background-color: rgb(68, 0, 255);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: grab;
}

li.completed span {
    text-decoration: line-through;
    color: #666;
}

.todo-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
